<%- include('includes/header'); %>

  <div class="d-flex justify-content-center">
    <div class="col-lg-10 p-3 bg-light">
      MT general dealer <br>
      P.O.Box 42424 <br>
      Ndola, <br>
      Zambia,


              <div class="shadow-lg p-3 mb-5 bg-body rounded mt-2">
                <h1>$ <%=invoice.amountDue %>
                </h1>

                <% if(invoice.StatusPaid=='Paid' ){ %>

                  <p>Status: <span>Paid </span></p>

                  <% }else { %>
                    <p>Due Date: <%=moment(invoice.DueDate).format("LL"); %>
                    </p>
                    <% } %>


                      <p class="mt-2">To <span class="text-dark">
                          <%=invoice.CustomerName %>
                        </span> </p>
                      <p class="mt-2">From <span> MT Dealer</span> </p>

                      <hr class="dropdown-divider">

                      <button type="button" class="btn btn-sm btn-warning" id="btnShow">View Invoice Details</button>
                      <button type="button" class="btn btn-sm btn-warning" id="btnHide">Hide Invoice Details</button>

                      <div id="detail">
                        <div id="table" class="mt-5">
                          <table class="table">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Item Name</th>
                                <th scope="col">Item Price</th>
                                <th scope="col">Item Qty</th>
                                <th scope="col">Item Amount</th>

                              </tr>
                            </thead>
                            <tbody>
                              <% if(invoice.ItemName.length> 0){ %>

                                <% for (var i=0; i < invoice.ItemName.length; i++ ) { %>
                                  <tr>
                                    <td>
                                      <%=invoice.itemCode[i]; %>
                                    </td>
                                    <td>
                                      <%=invoice.ItemName[i]; %>
                                    </td>
                                    <td>
                                      <%=invoice.ItemQuantity[i]; %>
                                    </td>
                                    <td>
                                      <%=invoice.ItemPrice[i]; %>
                                    </td>
                                    <td>
                                      <%=invoice.itemTotal[i]; %>
                                    </td>
                                  </tr>
            
                                  <% } }%>

                            </tbody>
                          </table>
                        </div>

                        <div class="d-flex justify-content-end">

                          <div class="col-lg-5">
                            <table class="table">
                              <thead>

                              </thead>
                              <tbody>
                                <tr>
                                  <td colspan="2">SubTotal:</td>
                                  <td> $<%=invoice.subTotal %>
                                  </td>
                                </tr>
                                <tr>
                                  <td colspan="2">Total:</td>
                                  <td>$<%=invoice.amountDue %>
                                  </td>
                                </tr>
                                <tr>

                                  <td colspan="2">Amount Due:</td>
                                  <td>$ <%=invoice.amountDue %>
                                  </td>
                                </tr>
                              </tbody>
                            </table>

                          </div>

                        </div>

                      </div>

              </div>


              <% if(invoice.StatusPaid=='Paid' ){ %>
                <% }else { %>
                  <div class="shadow-lg p-3 mb-5 bg-body rounded">
                    <h1 class="mt-2">Pay with Card</h1>

                    <p class="mt-2">Card Information</p>

                    <div class="row">

                      <div class="row">
                        <div class="mb-3">
                          <label for="nameOnCard" class="form-label">Name On Card </label>
                          <input type="text" class="form-control form-control-sm" id="nameOnCard" name="nameOnCard"
                            placeholder="Name on Card">
                        </div>
                      </div>

                      <div class="row">
                        <div class="mb-3">
                          <label for="cardNumber" class="form-label">Card Number</label>
                          <input type="text" class="form-control form-control-sm" id="cardNumber" name="cardNumber"
                            placeholder="Card Number">
                        </div>
                      </div>

                      <div class="row">
                        <div class="col">
                          <div class="mb-3">
                            <label for="Expiration" class="form-label">Expiration</label>
                            <input type="text" class="form-control form-control-sm" id="Expiration" name="Expiration"
                              placeholder="Expiration Date">
                          </div>
                        </div>

                        <div class="col">
                          <div class="mb-3">
                            <label for="cvv" class="form-label">CVV</label>
                            <input type="text" class="form-control form-control-sm" id="cvv" name="cvv"
                              placeholder="cvv">
                          </div>
                        </div>
                      </div>

                    </div>


                    <div class="row">
                      <a href="/paid/<%=invoice._id %>" type="submit" class="btn btn-sm btn-warning"> pay £ <%=invoice.amountDue %>
                          </a>
                    </div>

                  </div>
                  <% } %>

    </div>
  </div>





  <%- include('includes/footer'); %>
    <script src="/js/payment.js"></script>